/*CSS by Anders Erik Nissen
UCN MMDA0920*/
@charset "uft-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}
h5 {
    font-size: 2rem;
    margin: .7rem 0;
}

/* 
    Button
*/
button {
    border: none;
    border-radius: 3px;

    background: red;
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
}
#btn__div {
    position: absolute;
    z-index: 1000;
}
/* 
========================
========== #1 ==========
========================
*/
#transition1__container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    display: flex;
}

.transition1__div--outer {
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
}
.transition1__div {
    /* position: absolute;
    bottom: 100%;
    left: 0; */
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0, 6, 22);
    background: linear-gradient(0deg, rgba(0, 6, 22, 1) 0%, rgba(0, 6, 22, 1) 100%);
    opacity: 0;

    z-index: 2;

    /* transform: translateY(-101%); */
    /* transition: 1s linear; */
}

.active .transition1__div--one {
    animation: t1--one .5s linear forwards;
}
.active .transition1__div--two {
    animation: t1--two .5s linear forwards;
}
.active .transition1__div--three {
    animation: t1--three .5s linear forwards;
}
.active .transition1__div--four {
    animation: t1--four .5s linear forwards;
}
@keyframes t1--one {
    10% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes t1--two {
    25% {
        opacity: 0%;
    }
    35% {
        opacity: 100%;
    }
    100% {   
        opacity: 100%;
    }
}
@keyframes t1--three {
    50% {
        opacity: 0%;
    }
    60% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes t1--four {
    75% {
        opacity: 0%;
    }
    85% {
        opacity: 100%;
    }
    100% { 
        opacity: 100%;
    }
}

.inactive .transition1__div--one {
    animation: t1--one--inactive .5s linear forwards;
}
.inactive .transition1__div--two {
    animation: t1--two--inactive .5s linear forwards;
}
.inactive .transition1__div--three {
    animation: t1--three--inactive .5s linear forwards;
}
.inactive .transition1__div--four {
    animation: t1--four--inactive .5s linear forwards;
}

@keyframes t1--one--inactive {
    0% { 
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
@keyframes t1--two--inactive {
    0% { 
        opacity: 100%;
    }
    50% {
        opacity: 100%;
    }
    60% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}
@keyframes t1--three--inactive {
    0% { 
        opacity: 100%;
    }
    25% {
        opacity: 100%;
    }
    35% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}
@keyframes t1--four--inactive {
    0% { 
        opacity: 100%;
    }
    10% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

/* 
    Text Area
*/
#transition1_txtContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
}
.transition1__txtDiv--outer {
    overflow: hidden;
    height: 3rem;
    position: relative;
}
.transition1__txtDiv {
    position: relative;
    top: -3rem;
}

.active .t1-txtDiv-one {
    animation: t1-txtDiv-one 1.5s linear forwards;
}
.active .t1-txtDiv-two {
    animation: t1-txtDiv-two 1.5s linear forwards;
}
.active .t1-txtDiv-three {
    animation: t1-txtDiv-three 1.5s linear forwards;
}
.active .t1-txtDiv-four {
    animation: t1-txtDiv-four 1.5s linear forwards;
}
.active .t1-txtDiv-five {
    animation: t1-txtDiv-five 1.5s linear forwards;
}

@keyframes t1-txtDiv-one {
    50% {top: -3rem;}
    60% {top: 0;}
    100% {top: 0;}
}
@keyframes t1-txtDiv-two {
    60% {top: -3rem;}
    70% {top: 0;}
    100% {top: 0;}
}
@keyframes t1-txtDiv-three {
    70% {top: -3rem;}
    80% {top: 0;}
    100% {top: 0;}
}
@keyframes t1-txtDiv-four {
    80% {top: -3rem;}
    90% {top: 0;}
    100% {top: 0;}
}
@keyframes t1-txtDiv-five {
    90% {top: -3rem;}
    100% {top: 0;}
}


